.bloque{
    display: flex;
    margin-left: 25px;
}

.lista{
    margin-left: 150px;
    margin-top: 9px;
    border-style:groove;
    width: 400px;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
}

.carnet{
    width: 330px;
    height: 150px;
    border-style:groove;
    border-radius: 5px;
    margin-bottom: 15px;
}

#boton{
    margin-left: 125px;
    margin-bottom: 5px;
}





